<%- include('./partials/navbar') %>

<div class="container yoo text-white" style="padding-bottom: 12px;">
    <hr style="color:white;">
    <h3 style="padding-left: 12px;">About</h3>  
    <hr style="color:white;">
    <p style="font-size: 25px; padding: 10px;">
        This website introduces you to people who share your interests and allows you to communicate with them. Additionally, you can search for someone with a certain hobby, branch, or year. The purpose of this web app is to make it simpler for other people to locate the individual with specific information.
    </p>
    
<hr style="color:white;">
<h3 style="padding-left: 12px;">Features</h3>
<hr style="color:white;">

    <div class="row" style="padding: 25px;">
        <div class="col-4">
          <div class="list-group"  id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="profile-list" data-bs-toggle="list" href="#profile" role="tab" aria-controls="profile">Make profile</a>
              <a class="list-group-item list-group-item-action" id="update-list" data-bs-toggle="list" href="#update" role="tab" aria-controls="update">Update profile</a>
            <a class="list-group-item list-group-item-action" id="find-list" data-bs-toggle="list" href="#find" role="tab" aria-controls="find">Find </a>
            <a class="list-group-item list-group-item-action" id="explore-list" data-bs-toggle="list" href="#explore" role="tab" aria-controls="explore">Explore</a>
            <a class="list-group-item list-group-item-action" id="send-list" data-bs-toggle="list" href="#send" role="tab" aria-controls="send">Send mail</a>
            <a class="list-group-item list-group-item-action" id="view-list" data-bs-toggle="list" href="#view" role="tab" aria-controls="view">View profile</a>
            <a class="list-group-item list-group-item-action" id="login-list" data-bs-toggle="list" href="#login" role="tab" aria-controls="login">Login /Logout</a>
          </div>
        </div>
        <div class="col-8">
            <div class="tab-content" style="font-size: 25px; padding: 25px;" id="nav-tabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-list">Register with the specific information
                    <div > 
                        <img src="" alt="">
                    </div>
                </div>
                <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update-list">Update and continue to maintain the relevant field in your profile.</div>
                <div class="tab-pane fade" id="find" role="tabpanel" aria-labelledby="find-list">using the help of this website's find page, locate the person using particular information.</div>
                <div class="tab-pane fade" id="explore" role="tabpanel" aria-labelledby="explore-list">Utilise the home page to view other people's profiles.</div>
            <div class="tab-pane fade" id="send" role="tabpanel" aria-labelledby="send-list">Visit your friends' profiles to send them emails.</div>
            <div class="tab-pane fade" id="view" role="tabpanel" aria-labelledby="view-list">View your profile to discover how others perceive it.</div>
            <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-list">Use your personal username and password to sign in and out at any time; do not disclose them to anybody.</div>
        </div>
    </div>
</div>
    
      
<hr style="color:white;">
<h3 style="padding-left: 12px;">Credits</h3>
<hr style="color:white;">
<div class="row my-5">
    <div class="col-6 align-items-center justify-content-center">
        <h4 class="text-center">Made by</h4>
        <h3 class="text-center">Anmol Soni</h3>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center">
        <a href="https://www.linkedin.com/in/anmolsonii/" target="_blank"><i class="fa-brands fa-linkedin mx-2 fa-2xl"></i></a>
        <a href="https://www.instagram.com/anmol_soni2002/" target="_blank"><i class="fa-brands fa-square-instagram mx-2 fa-2xl"></i></a>
        <a href="https://github.com/Anmol-soni77" target="_blank"><i class="fa-brands fa-github mx-2 fa-2xl"></i></a>
        <a href="https://anmol-soni77.github.io/my-portfolio-website/" target="_blank" ><i class="fa-solid fa-earth-americas mx-2 fa-2xl"></i></a>
    </div>
</div>
<hr style="color:white;">

</main>

</div>