    <%- include('./partials/navbar2') %>
    <div class="container text-white">
      <main>
        <div class="py-5 text-center">
          <!-- <img class="d-block mx-auto mb-4" src="./css/bootstrap-logo.svg" alt="" width="72" height="57"> -->
          <h3>Register</h3>
        </div>
    
        <div class="row g-5 d-flex justify-content-center">
          <div class="col-md-10 col-lg-10">

            <form class="needs-validation" style="margin-bottom: 25px;" action="/signup" method="post" enctype="multipart/form-data" >
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Enter Your name" value="" required>
                  <div class="invalid-feedback">
                    Valid name is required.
                  </div>
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Last name</label>
                  <input type="text" name="lastname" class="form-control" id="lastName" placeholder="Enter Your last name" value="" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="username" class="form-label">Username</label>
                  <br><small class="text-danger">Warning : length of username should be between 7-20 letters</small>
                  <div class="input-group has-validation my-3">
                    <span class="input-group-text">Username</span>
                    <input type="text" min="7" max="20" class="form-control " name="username" id="username" placeholder="Username" required>
                  <div class="invalid-feedback">
                      Your username is required.
                    </div>
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="email" class="form-label">Email </label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com" required>
                  <div class="invalid-feedback">
                    Please enter a valid email address.
                  </div>
                </div>
                
                <div class="col-12">
                  <label for="hometown" class="form-label">Hometown</label>
                  <input type="text" class="form-control" id="hometown" name="hometown" placeholder="EX:- Delhi" required>
                  <div class="invalid-feedback">
                    Please enter your hometown.
                  </div>
                </div>

                <div class="col-md-5">
                  <label for="college" class="form-label">college</label>
                  <select class="form-select" id="college" name="college" required>
                    <option value="">Choose...</option>
                    <option>MITS,gwalior</option>
                    <option>TIT,indore</option>
                    <option>LNCT,bhopal</option>
                    <option>JUET,guna</option>
                    <option>Oriental,bhopal</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                
                <div class="col-md-5">
                  <label for="year" class="form-label">year</label>
                  <select class="form-select" id="year" name="year" required>
                    <option value="">Choose...</option>
                    <option>First</option>
                    <option>Second</option>
                    <option>Third</option>
                    <option>Fourth</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <div class="col-md-5">
                  <label for="branch" class="form-label">Branch</label>
                  <select class="form-select" id="branch" name="branch" required>
                    <option value="">Choose...</option>
                    <option>EC</option>
                    <option>ET</option>
                    <option>EE</option>
                    <option>CS</option>
                    <option>IT</option>
                    <option>MECH</option>
                    <option>MC</option>
                    <option>IOT</option>
                    <option>EE-IOT</option>
                    <option>CIVIL</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>

                <br>
<!--     ------------------------------------------------------- -->
<div class="col-12">
  <label for="sports" class="form-label">sports</label>  
  <div class="ingridientslist">
    <div class="ingridientsdiv col-md-5 my-2 ">
      <select class="form-select" id="sports" name="sports" required>
        <option value="">Choose...</option>
          <option>Football</option>
          <option>Cricket</option>
          <option>Badminton</option>
          <option>Atheletics</option>
          <option>Tennis</option>
          <option>Basketball</option>
          <option>Volleyball</option>
          <option>kho-kho</option>
          <option>chess</option>
          <option>handball</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid country.
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <button class="btn btn-outline-primary" type="button" id="ingridientbtn">
    + Add sports
  </div>
</button>
<!--     ------------------------------------------------------- -->

<!--     ------------------------------------------------------- -->
<div class="col-12">
  <div class="ingridientslist1">
    <label for="skills" class="form-label">Skills</label>
    <div class="ingridientsdiv1 col-md-5 my-2 ">
      <select class="form-select" id="skills" name="skills" required>
        <option value="">Choose...</option>
          <option>Web-development</option>
          <option>Data-ananysis</option>
          <option>App-development</option>
          <option>Game development</option>
          <option>Competetive coding</option>
          <option>Blockchain dev</option>
          <option>Web-3</option>
          <option>C/C++</option>
          <option>Java</option>
          <option>Python</option>
          <option>DSA</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid country.
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <button class="btn btn-outline-primary" type="button" id="ingridientbtn1">
    + Add skills
  </div>
</button>
<!--     ------------------------------------------------------- -->

<!--     ------------------------------------------------------- -->
<div class="col-12">
  <div class="ingridientslist2">
    <label for="extra" class="form-label">Extra Curricular</label>
    <div class="ingridientsdiv2 col-md-5 my-2 ">
      <select class="form-select" id="extra" name="extra" required>
        <option value="">Choose...</option>
          <option>Public speaking </option>
          <option>Dancing</option>
          <option>Singing</option>
          <option>Painting</option>
          <option>Vloging</option>
          <option>Influencer</option>
          <option>Riding</option>
          <option>Exploring places</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid country.
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <button class="btn btn-outline-primary" type="button" id="ingridientbtn2">
    + Add 
  </button>
  </div>
<!--     ------------------------------------------------------- -->

<!--     ------------------------------------------------------- -->
<div class="col-12">
  <div class="ingridientslist3">
    <label for="clubs" class="form-label">select the Clubs you are in</label>
    <div class="ingridientsdiv3 col-md-5 my-2 ">
      <select class="form-select" id="clubs" name="clubs" required>
        <option value="">Choose...</option>
          <option>Science Club</option>
          <option>Scrabble Club</option>
          <option>Journalism Club</option>
          <option>Photography Club</option>
          <option>Electronics Club</option>
          <option>IETE Club</option>
          <option>ISTE Club</option>
          <option>Comedy Club</option>
          <option>Standup Club</option>
          <option>Asimo-Robotics Club</option>
          <option>Startup Club </option>
          <option>Music Club</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid country.
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <button class="btn btn-outline-primary" type="button" id="ingridientbtn3">
    + Add 
  </button>
  </div>
<!--     ------------------------------------------------------- -->


<div class="col-12">
  <label for="image" class="form-label" >Upload your profile picture</label>
  <input
  type="text"
  name="image"
  value=""
  class="form-control"
  id="image"
  style="display: none;"
  />
  <br>
  <h3
  id="upload_widget" 
  class="cloudinary-button">
  Upload files
  </h3>
  <h5 id="uploaded" style="color:greenyellow;">
  </h5>
</div>

<div class="col-12">
  <label for="password" class="form-label">Password</label>
  <br><small class="text-danger">Warning : A combination of capital letters, tiny letters, special characters, and numerical characters should be included for your password.
  </small>
  <br><small class="text-white" >Ex : Bravo@123 </small>
  <input type="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*?[0-9])(?=.*?[!@#$%^&*+`~'=?\|\]\[\(\)\-<>]).{8,}" class="form-control my-2" id="password" name="password" placeholder="Enter Your Password"  required>
  <div class="invalid-feedback">
    Enter Password
  </div>
</div>

</div>
      <h4>NOTE : </h4><h4 class="text-info-emphasis">Remember your username and password since you'll need them to access your account.
      </h4>
<hr class="my-4">
              
          <button class="w-100 btn btn-primary btn-lg" onclick="myFunction()" >Signup</button>
        </form>
      </div>
    </div>
  </main>
</div>
 
